.container--approve-create {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;

  .approve-header {
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: #387adf;
    color: white;
  }

  .approve-form {
    padding: 10px;

    .input-group {
      margin-bottom: 20px;

      span {
        width: 10em;
      }
    }

    .btn-container {
      text-align: right;
    }
  }
}
