.container {
    .btn-create, .btn-delete {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        min-width: 5em;
    }

    .link-update-approve {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            color: blue;
        }
    }
}