.bill-page {
    .btn-container {
        text-align: right;
        
        .btn {
            margin-left: 10px;
            min-width: 5em;
        }
    }
}

.form-add-type {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px 0 15px 0;
    height: max-content;

    .error-message {
        color: red;
        font-weight: 500;
        font-style: italic;
    }

    .btn {
        min-width: 100px;
    }
}

.btn-delete {
    border: none;
    background-color: unset;
    min-height: 50px;
    
    .btn-delete--icon {
        color: red;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
}


.table--bill-types {
    margin: 0 !important;
}