.creatbill-container {
    height: max-content;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    
    h1 {
        text-align: center;
        padding: 10px 0;
        background-color: #6895D2;
        color: white;
    }

    .createbill-form {
        padding: 15px;

        .input-field {
            margin-top: 10px;
        }
    
        .button-container {
            display: flex;
            justify-content: right;
    
            button {
                width: 8em;
                height: 90%;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

}