.creatpage-container {
    height: max-content;
    margin: 0 10px;
    border: 1px solid #C7C8CC;
    border-radius: 10px;
    background-color: #fcfbf7;
    overflow: hidden;
    
    .creatpage-heading {
        text-align: center;
        padding: 10px 0;
        background-color: #0E46A3;
        color: white;
    }

    .createpage-form {
        padding: 0 15px 15px 15px;

        .label-info {
            margin-top: 10px;

            &:nth-of-type(5) {
                margin-top: 25px;
            }
        }

        .input-field {
            margin-top: 10px;
        }
    
        .button-container {
            display: flex;
            justify-content: right;
    
            button {
                width: 8em;
                height: 90%;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}