.form-page {
    font-family: 'Nunito';
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background-image: url('../assets//images/background-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    Form {
        background-color: white;
        position: relative;
        left: 50%;
        top: 20%;
        translate: -50%;
        padding: 30px;
        padding-bottom: 70px;
        width: 40%;
        height: auto;
        border-radius: 10px;

        .form-header {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 15px;
        }

        label {
            font-size: 18px;
            font-weight: 600;
        }

        .form-control {
            border: 1px solod #ccc;
            border-radius: 5px;
        }

        .error-message {
            font-weight: 500;
            font-size: 16px;
            color: red;
        }

        button {
            position: fixed;
            right: 5%;
            bottom: 5%;
            width: 150px;
            height: 40px;
        }
    }

    .regisForm {
        top: 20%;
    }

    .blurry-form {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
    }
}