.form-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;

    .form-header {
        text-align: center;
        padding: 10px 0 10px 0;
        background-color: #387adf;
        color: white;
    }

    .form-body {
        padding: 10px;

        .input-group {
            margin-bottom: 20px;

            span {
                width: 10em;
            }
        }

        .btn-container {
            flex-direction: row-reverse;
            margin: auto;

            button {
                &:first-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        margin-bottom: 15px;
        .btn-container {
            button:first-child {
                margin-bottom: 10px;
            }
        }
    }
}