.navbar {
    margin: 0;
    padding: 0;

    a {
        &:first-child {
            padding-left: 20px;
            margin-right: 30px;
        }

        &:not(:first-child) {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            margin: 0 10px;
            font-size: 17px;
            color: white;
            text-decoration: none;
        }

        &:hover {
            opacity: 0.6;
        }

        &:last-child {
            position: absolute;
            right: 0;
        }
    }
}