.navbar {
    position: fixed !important;
    margin: 0;
    padding: 0 10px;
    height: 55px;
    width: 100%;
    justify-content: start;
    background-color: white;
    z-index: 1000;

    .nav-link {
        &:first-child {
            margin-left: 25px;
            font-weight: 600;
            font-size: 23px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            background: -webkit-linear-gradient(#000000, #000000);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &:not(:first-child) {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            margin: 0 10px;
            font-size: 17px;
            color: white;
            text-decoration: none;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    .dropdown {
        position: absolute;
        right: 0.3em;
        background-color: #f2f2f2e9;

        .dropdown-menu {
            .dropdown-item {
                display: flex;

                a {
                    width: 100%;
                    color: black;
                    text-decoration: none;
                }

                svg {
                    height: 25px;
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}
